{% extends 'base.html' %}
<!DOCTYPE html>

{% load staticfiles %}

{% block content %}

<img src="{% static "img/lychee_logo.png" %}" alt="Lychee Logo" height="60" width="60" /> 

<h3>Weather Records</h3>

<ul class="list-group">
{% for record in temp %}
   <li class="list-group-item"><b>Day Details :  {{ record.record_day }} </b></li>
   <li class="list-group-item">Current Temp :  {{ record.temperature }} </li>
   <li class="list-group-item">Max Temp :  {{ record.max_temp }} </li>
   <li class="list-group-item">Min Temp :  {{ record.min_temp }} </li>
   <hr>
{% endfor %}
</ul>

{% endblock %}


